[submodule "5FX-Autostart"]
	path = 5FX-Autostart
	url = https://github.com/TomatoPi/5FX-Autostart
[submodule "5FX-Expander"]
	path = 5FX-Expander
	url = https://github.com/TomatoPi/5FX-Expander
[submodule "5FX-Libs"]
	path = 5FX-Libs
	url = https://github.com/TomatoPi/5FX-Libs
[submodule "5FX-Modular"]
	path = 5FX-Modular
	url = https://github.com/TomatoPi/5FX-Modular
[submodule "5FX-Session"]
	path = 5FX-Session
	url = https://github.com/TomatoPi/5FX-Session
[submodule "5FX-pi"]
	path = 5FX-pi
	url = https://github.com/TomatoPi/5FX-pi
[submodule "5FX-SeedFX"]
	path = 5FX-SeedFX
	url = https://github.com/TomatoPi/5FX-SeedFX
[submodule "5FX-SynthFX"]
	path = 5FX-SynthFX
	url = https://github.com/TomatoPi/5FX-SynthFX
