[submodule "5FX-Autostart"]
	path = 5FX-Autostart
	url = ./5FX-Autostart/
[submodule "5FX-Expander"]
	path = 5FX-Expander
	url = ./5FX-Autostart
[submodule "5FX-Libs"]
	path = 5FX-Libs
	url = ./5FX-Libs/
[submodule "5FX-Modular"]
	path = 5FX-Modular
	url = ./5FX-Modular/
[submodule "5FX-Session"]
	path = 5FX-Session
	url = ./5FX-Session/
[submodule "5FX-pi"]
	path = 5FX-pi
	url = ./5FX-pi/
